<<<<<<< HEAD
header {
    background-color: #FF0000;
    height: 70px;
    width: 100%;
=======
header{
    background-color: #FF0000;
    height: 70px;
    width:100%;
>>>>>>> 1513f0a9c52c3c980dbcc98d3527a34602bcb351
}
